---
layout: default
title: Bucket List
---

<!-- - - - - - - - - - GRID - - - - - - - - - - - - -->

<section class="list">
  <h2 class="pink">Bucket List</h2>
    <div class="grid">

      {% for item in site.bucket-list %}
      {% if item.done == true %}
      <a href="{{item.link}}" class="col-4_xs-12 bg-grid trans-hover tall-50" style="background-image:url('{{item.featured_image}}')">
        {% else %}
      <div class="col-4_xs-12 bg-grid tall-50" style="background-image:url('{{item.featured_image}}')">
        {% endif %}
        <div>
          <h3>{{item.name}}</h3>
          {% if item.done == true %}
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <h4>click here to read about it!</h4>
          {% else %}
          <i class="fa fa-circle-o" aria-hidden="true"></i>
          {% endif %}
        </div>
        {% if item.done == true %}
      </a>
          {% else %}
        </div>
        {% endif %}
      {% endfor %}

  </div>
  </section>
