---
layout: default
title: On the List
url: /on-the-list
---
<section class="list">
  <h2 class="pink">On The List</h2>
    <div class="grid">

      {% for item in site.bucket-list %}
      {% if item.done == false %}
      <a href="{{item.link}}" class="col-4_xs-12 bg-grid trans-hover tall-50" style="background-image:url('{{item.featured_image}}')">

        <div>
          <h3>{{item.name}}</h3>

          <i class="fa fa-circle-o" aria-hidden="true"></i>

        </div>
      </a>

        {% endif %}
      {% endfor %}
    </div>
  </div>
  </section>
