* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}


/* - - - - - - - - - UTILITY CLASSES - - - - - - - - - - - */

.top-banner .filter {
  background-color: rgba(256, 256, 256, .30);
  padding: 15%;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

/* - - - - - - - - - TYPOGRAPHY - - - - - - - - - - - - - */

body {
  font-family: 'Amatic SC', cursive;
  line-height: 1.4;
  text-align: center;
  cursor: default;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
/* - - - - - - NAVIGATION - - - - - - - - - */

nav a {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2% 2%;
}

nav a:hover {
  color: rgb(243, 108, 96);
}

nav a .col-3 {
  font-size: .2vw;
  padding-right: 5%;
}

nav {
  padding: 1%;
}

header {
  background-color: white;
  z-index: 99;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid black;
}



/* - - - - - - TOP BANNER - - - - - - - - - */

.top-banner {
  background-image: url('top-banner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.top-banner {
  font-family: 'Anatalia', sans-serif;
}

h1 {
  font-weight: lighter;
  font-size: 18vw;
  padding: 0;
}

.top-banner h2 {
  font-size: 3.5rem;
  font-weight: lighter;
  padding: 0;
}



/* - - - - - - - - - MAP - - - - - - - - - - */

.map a, .view-more {
  font-size: 2.8vw;
  font-weight: bold;
  border-radius: 15px;
  padding: 1.5%;
  background-color: rgba(243, 108, 96, 0.3);
}

.map a:hover, .view-more:hover, .ig-banner:hover {
  background-color: rgba(243, 108, 96, 0.6);
}

.map {
  background-image: url('map.jpg');
  background-size: cover;
  background-position: center;
  padding: 27%;
}

/* - - - - - - ABOUT SECTION - - - - - - - - - */
.about {
  background-color: rgba(243, 108, 96, 0.3);
  padding: 5%;
}

.about h2 {
  font-size: 3rem;
  padding-left: 5%;
}

.about p {
  font-size: 2rem;
  padding: 2% 5%;
}

.about a {
  color: white
}

.about a:hover {
  font-weight:800;
}

.about .profile {
  background-image: url('profile.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid grey;
  border-radius: 100%;
  width: 200px;
  height: 16.6vw;
  margin-left: 5%;
}

/* - - - - - - BUCKET LIST - - - - - - - - - */
section.list {
  padding: 2%;
}

.list h2 {
  font-size: 3rem;
  margin-left: 4%;
  padding-bottom: 2%;
}

.list .grid-spaceAround a {
  font-size: 3.3vw;
  color: white;
  padding: 5%;
}

.list-one {
  background-image: url('australia.jpg');
  background-size: cover;
  background-position: center;
}

.list-two {
  background-image: url('bali.jpg');
  background-size: cover;
  background-position: center;
}

.list-three {
  background-image: url('cambodia.jpg');
  background-size: cover;
  background-position: center;
}

.list i {
  margin: 60% 0%;
}

.list a:hover,.ig-feed:hover {
  opacity: .6;
}

.view-more {
  margin-left: 3.5%;
  padding: 0% 5%;
}



/* - - - - - - - - IG FEED - - - - - - - - - */
.ig-banner {
  background-color:rgba(243, 108, 96, 0.3);
  font-size: 2vw;
  font-weight: bold;
  margin-top: 5%;
  padding-left: 4%;
}

.ig-feed div {
  background-image: url('ig-feed.jpg');
  background-size: cover;
  background-position: center;
  padding: 8%;
}

/* - - - - - - - FOOTER - - - - - - - - - - */
.footer p {
  font-size: 1rem;
  margin-left: 2%;
}
