* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}

[class*=grid-]>[class*=col-3], [class*=grid_]>[class*=col-3], [class~=grid]>[class*=col-3]{
  flex-basis: 10%;
}

/* - - - - - - - - - UTILITY CLASSES - - - - - - - - - - - */

.filter {
  background-color: rgba(256, 256, 256, .30);}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.tall-50 {
  min-height:50vh;
  display: block;
}

.bg-grid {
  background-size: cover;
  background-position: center;
  border: 5px solid white;
}

.trans-hover:hover, .dest a:hover {
  opacity: .6;
}

/* - - - - - - - - - TYPOGRAPHY - - - - - - - - - - - - - */

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: black;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  font-size: 3rem;
}


h3, h4{
  font-weight: 400;
  text-align: center;
  padding-bottom: 5%;
}

h3{
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
.location h2, .location h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
/* - - - - - - NAVIGATION - - - - - - - - - */


nav a {
  font-size: 1.1rem;
  padding: 2% 2%;
  display: inline-block;
}

nav a:hover, .dropdown-mob:hover, .burger-button:hover {
  color: rgb(243, 108, 96);
}

div.col-3_sm-12 {
  max-width: 100%;
  flex-basis: 0%;
}

nav {
  padding: 0 1%;
}

nav li {
  vertical-align: top;
}

.dropdown-content a {
    white-space: nowrap;
}

header {
  background-color: white;
  z-index: 99;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid black;
}

  /* - - - - - - NAV DROPDOWN - - - - - - - - */

  .dropdown, .dropdown-mob {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    left:10px;
    min-width: 250px;
    padding: 2% 5%;
    list-style-image:url('/images/sunlist.png') ;
    border: 2px solid black;
    border-top: none
  }
  .dropdown:hover > a, .dropdown-mob:hover > a {
    color: rgb(243, 108, 96);
}

  .dropdown:hover .dropdown-content {
    display: block;
}

  /* - - - - - - MOBILE MENU - - - - - - - - */
.mob-show {
  display: none;
}

.dropdown-mob {
  display: block;
  line-height: 1.4;
  font-family: 'Barlow Semi Condensed', sans-serif;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  padding: 5px 15px;
}

.burger-dropdown {
  display: none;
}

.burger-button {
  position:fixed;
  padding: 8px;
  cursor: pointer;
  z-index: 999;
}

.burger-button span{
  width: 25px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
  margin: 10%;
}

.burger-menu li{list-style:none}


.burger-menu {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    padding: 5%;
    background-color: white;
    transition: .8s;
}
.slide-in {
  left:0px;
}

.burger-menu a, .dropdown-mob a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

/* - - - - - - TOP BANNER - - - - - - - - - */

.top-banner {
  background-image: url('/images/top-banner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Sacramento', cursive;
}
.top-banner .filter {
  padding: 3%;
}

.big-banner .filter{
  padding: 15%;
}

h1 {
  font-weight: 400;
  font-size: 5vw;
  padding-top: 4.5%;
}

.big-banner h1 {
  font-size: 15vw;
  padding: 0;
}

.top-banner h2 {
  font-family: 'Sacramento', cursive;
  font-size: 2.2rem;
  font-weight: 400;
  padding: 0;
}



/* - - - - - - - - - MAP - - - - - - - - - - */

.map a, .view-more {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: 400;
  border-radius: 15px;
  padding: 1.5%;
  background-color: rgba(243, 108, 96, 0.3);
}

.map a:hover, .view-more:hover, .ig-banner:hover {
  background-color: rgba(243, 108, 96, 0.6);
}

.map {
  background-image: url('/images/map.jpg');
  background-size: cover;
  background-position: center;
  padding: 26.8%;
}

/* - - - - - - ABOUT SECTION - - - - - - - - - */
.about {
  background-color: rgba(243, 108, 96, 0.3);
  margin-top: 5%;
  padding: 2%;
}



.about p {
  font-size: 1.5rem;
  padding: 2% 5% 2% 0%;
}

.about a {
  color: white
}

.about a:hover {
  font-weight:800;
}

.about .profile {
  background-image: url('/images/profile.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid grey;
  border-radius: 100%;
  height: 16.6vw;
  margin-left: 5%;
}

.side-bar.pic{
  background-image: url('/images/profile.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 20vw;
}

.side-bar {
  padding-right:2%;
}

.post {
  padding: 2%;
}

.side-bar p {
  padding-bottom: 10%;
}

.post-content {
  padding-right: 5%;
}

.post-header {
  text-align: center;
}

/* - - - - - - BUCKET LIST - - - - - - - - - */
section.list {
  padding: 2%;
}

.list h2 {
  font-size: 3rem;
}

.list .bg-grid, .list .grid a {
  font-size: 3rem;
  color: white;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
}

.view-more {
  padding: 0% 5%;
}



/* - - - - - - - - IG FEED - - - - - - - - - */
.ig-banner {
  background-color: rgba(243, 108, 96, 0.3);
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  margin-top: 5%;
}
/* - - - - - - - FOOTER - - - - - - - - - - */
.footer p {
  font-size: 1rem;
  margin-left: 2%;
}


/* - - - - - - - MEDIA QUERIES - - - - - - - - */
@media (max-width: 678px) {
  .mob-show {
    display: block;
  }

  .mob-hide {
    display: none;
  }

  .map a, .view-more {
    font-size: 2rem;
  }
  .ig-banner a {
    font-size: 1.5rem;
  }
}
