<!-- - - - - - - - - - HEAD - - - - - - - - -->
<head>
  <!-- - - - - - - - - - EXTERNAL STYLE SHEETS - - - - - - - - -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,300i,400,400i,700" rel="stylesheet">

  <!-- - - - - - - - - - CSS - - - - - - - - -->
  <link rel="stylesheet" href="/style.css">

    <title>Chasing the Sun &#124; {{page.title}}</title>
</head>
