<!-- - - - - - - - - - HEADER - - - - - - - - -->
<header>
    <nav class="grid-spaceBetween left">
      <div class="col-9_md-12">
        <a href="/index.html">Home</a>

        <span class="dropdown">
        <a href="/destinations.html">Destinations</a>
            <div class="dropdown-content">
              <span class="border-fix"> </span>
              <ul>
                <li>
                  <a href="/usa.html">USA</a>
                </li>
                <li>
                  <a href="/mexico.html">MEXICO</a>
                </li>
                <li>
                  <a href="/indonesia.html">INDONESIA</a>
                </li>
              </ul>
            </div>
        </span>

        <span class="dropdown">
        <a href="/travel-tips.html">Travel Tips</a>
          <div class="dropdown-content">
            <span class="border-fix"> </span>
            <ul>
              <li>
                <a href="/solo-travel.html">Solo Travel</a>
              </li>
              <li>
                <a href="/long-term-travel.html">Long Term Travel</a>
              </li>
              <li>
                <a href="/travel-accessories.html">Travel Accessories</a>
              </li>
            </ul>
          </div>
        </span>

        <span class="dropdown">
        <a href="/bucket-list.html">Bucket List</a>
          <div class="dropdown-content">
            <span class="border-fix"> </span>
            <ul>
              <li>
                <a href="/bucket-list.html">Full List</a>
              </li>
              <li>
                <a href="/completed.html">Completed</a>
              </li>
              <li>
                <a href="/on-the-list.html">On the List</a>
              </li>
            </ul>
          </div>
        </span>

        <a href="/about.html">About</a>
        <a href="/about.html">Contact</a>
      </div>


      <div class="col-3_sm-12 right">
        <a href="https://www.facebook.com/ashley.gaver.9" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/ashgaver/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://twitter.com/AshleyGaver" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.pinterest.com/ashleygaver/" target="_blank">
          <i class="fa fa-pinterest-p"></i>
        </a>
      </div>
    </nav>
</header>
