<!-- - - - - - - - - - HEADER - - - - - - - - -->
<header>
    <nav class="grid-spaceBetween left">
      <div class="col-9_md-12">
        <a href="index.html">Home</a>
        <span class="dropdown">
        <a href="/destinations.html">Destinations</a>
            <!-- <li>
              <a href="destinations.html">Australia</a>
            </li>
            <li>
              <a href="destinations.html">USA</a>
            </li>
            <li>
              <a href="destinations.html">Canada</a>
            </li -->
        </span>
        <span class="dropdown">
        <a href="travel-tips.html">Travel Tips</a>
            <!-- <li>
              <a href="travel-tips.html">Solo Travel</a>
            </li>
            <li>
              <a href="travel-tips.html">Long-Term Travel</a>
            </li>
            <li>
              <a href="travel-tips.html">Packing</a>
            </li>
            <li>
              <a href="travel-tips.html">Travel Accessories</a>
            </li -->
        </span>
        <span class="dropdown">
        <a href="bucket-list.html">Bucket List</a>
            <!-- <li>
              <a href="bucket-list.html">Completed</a>
            </li>
            <li>
              <a href="bucket-list.html">On the List</a>
            </li -->
        </span>
        <a href="about.html">About</a>
        <span class="dropdown">
        <a href="about.html">Contact</a>
            <!-- <li>
              <a href="destinations.html">North America</a>
            </li>
            <li>
              <a href="destinations.html">South America</a>
            </li>
            <li>
              <a href="destinations.html">Africa</a>
            </li>
            <li>
              <a href="destinations.html">Asia</a>
            </li>
            <li>
              <a href="destinations.html">Australia</a>
            </li -->
        </span>
      </div>
      <div class="col-3_sm-12 right">
        <a href="https://www.facebook.com/ashley.gaver.9" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/ashgaver/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://twitter.com/AshleyGaver" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.pinterest.com/ashleygaver/" target="_blank">
          <i class="fa fa-pinterest-p"></i>
        </a>
      </div>
    </nav>
</header>
